:root 
{
    --color-1: #9EABB2;
    --color-2: #4C545C;
    --color-3: hsl(171, 66%, 44%);
    --color-4: hsl(233, 100%, 69%);
    --color-5:white;
}

html {
    font-size: 16px;
}

body 
{
    font-family: "Bai Jamjuree", sans-serif;
    background-color: #F2F2F2;
}

* {
    box-sizing: border-box;
    margin: 0;
}

p 
{
    line-height: 1.625;
    color: var(--color-1);
}

h1, h2, h3 
{
    color: var(--color-2);
}

h1 {
    font-size: 2rem;
    font-weight: 600;
}

h2 {
    font-size: 1.75rem;
    font-weight: 600;
}

h3 
{
    font-size: 1.5rem;
    font-weight: 600;
}



.btn 
{
    padding: 0.72em 0;
    width:227px;
    border:none;
    font-family: inherit;
    color: var(--color-5);
    border-radius: 32px;
    cursor: pointer;
    transition:filter 300ms;
    font-size: 1.125rem;
}


.btn:hover
{
    filter: brightness(120%);
}

.btn-1 
{
    background-color: var(--color-3);
    box-shadow: 0px 0px 5px var(--color-3);
}


.btn-2 
{
    background-color:var(--color-4);
    box-shadow: 0px 0px 5px var(--color-4);
}



.container {
    padding: 7.68em 8.5% 10.6em;
    background-image: url(./images/bg-header-mobile.png);
    background-position: top right;
    background-repeat: no-repeat;
    background-size: contain;
    text-align: center;
}

.intro 
{
    padding-bottom:  10em;
    max-width: 730px;
    margin-left: auto;
    margin-right: auto;
}
.intro_logo
{
    margin-bottom: 4em;
}

.title {
    margin-bottom: .5em;
}

.intro_btns
{
    margin-top: 3em;
}

.section_btns {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5em;
}
.section_intro {
    max-width: 730px;
    margin-left: auto;
    margin-right: auto;
}
.section_title {
    margin-bottom: .57em;
}


.tracking_intro {
    margin-bottom: 4em;
}

.tracking_img {
    width: 100%;
    display: block;
    margin-bottom: 3.5em;
    max-width: 752px;
    margin-left: auto;
    margin-right: auto;
}

.tracking_features {
    display: flex;
    flex-direction: column;
    gap: 3em;
    max-width: 730px;
    margin-left: auto;
    margin-right: auto;
}



.tracking_feature_title {
    margin-bottom: 0.41em;
}

.tracking {
    margin-bottom: 11.6em;
}
.access {
    margin-bottom: 8.1em;
}

.access_section_intro
{
    margin-bottom: 4em;
}

.access_img {
    display: block;
    width: 100%;
    max-width: 812px;
    margin-left: auto;
    margin-right: auto;
}


.workflow {
    margin-bottom: 8.1em;
}

.workflow_intro {
    margin-bottom: 5.6em;
}

.workflow_features {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3.5em;
}
.workflow_feature {
    max-width: 350px;
}

.workflow_feature_icon 
{
    margin-bottom: 2.5em;;
}

.workflow_feature_title {
    margin-bottom: 0.75em;
}

.companies {
    display: flex;
    flex-direction: column;
    gap: 3.75em;
    margin-bottom: 10.6em;
}

.companies_img {
    width: 37%;
    max-width: 165px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.platforms
{
    max-width: 730px;
    margin-left: auto;
    margin-right: auto;
}

.platforms_btns {
    margin-top: 2.875em;
}


.footer {
    background-color:hsl(201, 11%, 66%, 10%);
    text-align: center;
    padding: 3.25em;
}

.footer_logo {
    width: 3.43em;
    height:3.43em;
    margin-bottom: 2.5em;
}

.footer_links {
    list-style: none;
    padding-left: 0;
    color: var(--color-2);
    display: flex;
    flex-direction: column;
    gap: 1.25em;
    margin-bottom: 3.1em;
}

.footer_link {
    text-decoration: none;
    color: inherit;
    transition: color 300ms;
}
.footer_link:hover{
    color: var(--color-3);
}


.social {
    list-style: none;
    padding-left: 0;
    display: flex;
    justify-content: center;
    gap: 2.5em;
}

.social_item
{
    cursor: pointer;
}
.social_item path {
    transition: fill 300ms;
}

.social_item:hover path
{
    fill: var(--color-3);
}



@media (min-width: 1440px)
{
    html
    {
        font-size: 18px
    }
    h1 
    {
        font-size: 2.55rem;
        letter-spacing: -0.016em;
    }
    h2 
    {
        font-size:2rem;
        letter-spacing: -0.016em;
    }

    h3 
    {
        font-size:1.33rem;
        letter-spacing: -0.016em;
    }

    .btn 
    {
        font-size: 1rem;
    }


    .container {
        padding: 7.1em 11.4% 8.3em;
        background-image: url(./images/bg-header-desktop.png);
    }


   
    .intro_body 
    {
        font-size:1.11rem;
    }

   

    .section_btns {
        flex-direction: row;
        justify-content: center;
        gap: .88em;
    }
    

    .tracking_intro
    {
        margin-bottom: 4.6em;
    }


    .tracking_main {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: left;
    }

    .tracking_img-wrapper 
    {
        width:55%;
        min-height: 572px;
        position: relative;
    }

    .tracking_img {
        width: 120%;
        position: absolute;
        left:-12em;
        margin-bottom: 0;
        margin-left: 0;
        margin-right: 0;
    }


    .tracking_features {
        width: 31.5%;
    }




    .workflow_features {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .companies {
        flex-direction: row;
        align-items: center;
    }


    .footer {
        display: flex;
        text-align: left;
        gap:7.5em;
        padding: 2.16em 11.4%;
    }

    .footer_links {
        width: 57%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(auto, 160px));
    }

    .social
    {
        align-self: center;
    }



    .social{
        margin-left: auto;
    }

    
}